/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* AÑADE ESTO para resetear el body y html */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Asegura que padding y border se incluyan en el width/height */
}

body {
    display: flex; /* Para centrar contenido si es necesario */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la vista */
}